<html>
<head>
    <style>
        #hid1{
            color:red;
            font-style: italic;
        }
        i{
            color: red;
            font-style: italic;
        }
    </style>
</head>
<body bgcolor="#3eff3e">
<marquee behavior="alternate" width="100%"><h1>welcome to <i>Studnet info </i>Project</h1></marquee>
    <h1 id="hid1"><center>Product Details are......</center></h1>
<center>
    <table border="5" height="10%" width="70%">
        <tr>
            <th> Student Id</th>
            <th> Student Name</th>
            <th> Student age</th>
            <th> Student gender</th>
                </tr>
        {% for stud in det %}
        <tr>
            <td>{{stud.sid}}</td>
            <td>{{stud.sname}}</td>
            <td>{{stud.sage}}</td>
            <td>{{stud.sgender}}</td>
        </tr>
        {% endfor %}
    </table>
    <h3><a href="./">click here to go  home page</a></h3><br>
</center>
</body>
</html>