<html>
<head>
    <style>
        i{
            color: red;
            font-style: italic;
        }
    </style>
</head>
<body bgcolor="#7fffd4",align="center">
<MARQUEE BEHAVIOR="alternate" WIDTH="100%"><h1>Welcome to <i>Student info </i>Project</h1></MARQUEE>
<center>
    <h1>Please select required operation</h1>
    <h2>
        <a href="./insert">Click here to insert the Student Detail</a><br>
        <a href="./display">click here to display the Student Details</a><br>
       </h2>
</center>
</body>

</html>